

*,*::before,*::after{
  box-sizing: border-box
}
/* body{
  background-color:rgb(2, 53, 110, 1);
  color: white;
  border: 2px solid wheat;
  height:100%;
  width:100%;
} */
.site-logo{
  width: 100%;
  height: 100%;
}
header{
  /* border: 2px solid lime; */
  height:10vh;
  width: 90vw;
  display:flex;
  margin:auto;
}

.site-title{
  /* border: 2px solid purple; */
  width: 40vw;
  height: 10vh;
}
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 5px solid #4c9be8
}
.logo{
  /* border: 2px solid blue; */
  width: 30vw;
  height: 10vh;
  justify-content: center; 
  display: flex;
  align-items: center;
}
.site-title{
  justify-content: center; 
  display: flex;
  align-items: center;
}
/* all parts for left hand selecters */
main{

  height: 100%;
  width: 90vw;
  /* border:2px solid salmon; */
  box-sizing: border-box;
  margin: auto;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro{

  /* border:2px solid magenta; */
  width:80vw;
  height: 10vh;
  margin:auto
}

.question-1{
  /* border: 2px solid red; */
  height: 30vh;
  width: 40vw;
  object-fit: contain;
  display: flex;
  justify-content:center;
  align-items: center;
  /* margin:auto; */
}
.gibson{
  /* background:white; */
  color:white;
  display:inline;
  /* border: 2px solid green; */
  width: 15vw;
  height: 30vh;
  display:flex;
  align-items: center;
  justify-content:center;
  object-fit: contain;
}
.fender{
  /* background:white; */
  color:white;
  display:inline;
  /* border: 2px solid yellow; */
  width: 15vw;
  height: 30vh;
  display:flex;
  align-items: center;
  justify-content:center;
 

}
.cards{
  border-radius: 80px;
  background:white;
  width: 60%;
  display:flex;
}
fieldset{
  display: flex;
}
.question-2{
  /* border: 2px solid blue; */
  width: 30vw;
  height: 30vh;
  flex-wrap: wrap; 
  overflow:wrap;
  display:block;  
  align-items: center;  
  justify-content:center; 
  margin:auto; 
} 

.submit-button{
  display:flex;
  align-items: center;
  justify-content:center;
  object-fit: contain;
  height: 20vh;
  margin:auto;
}

/* results box */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
  
   
}
  /* Modal Content/Box */
   .modal-content {
    font-size: 3vw;
    background-color:#20374c;;
    color: white;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
    justify-content: center;
    align-items: center;
    display: flex; 
   }
  
  /* The Close Button */ 
   .close { 
    color: #aaa;
    float:right;
    font-size: 40px;
    font-weight: bold;
  } 

/* .result-img{
  width:100%;
  height:100%
} */
footer{
  /* border: 2px solid grey; */
  height: 15vh;
  width: 90vw;
  margin:auto
}